$hep-primary-red: #FF5D64;
$hep-primary-red-contrast: #FFFFFF;

$hep-light-background: #F5F4F5;
$hep-dark-background: #1F1F1F;

$hep-light-surface: #F8F8F8;
$hep-dark-surface: #3D3D3D;

$hep-light-text-primary: #3D3D3D;
$hep-dark-text-primary: #EFEFEF;

$hep-light-text-secondary: #7E7E7E;
$hep-dark-text-secondary: #9E9E9E;

$hep-light-border-soft: #D8D8D8;
$hep-dark-border-soft: #3D3D3D;

$hep-red-interactions: #cc1d33;
$hep-red-interactions_hover: #b00020;

$hep-orange-interactions: #FCE96A;
$hep-orange-interactions_hover: #fcd56a;

$hep-green-interactions: #00A486;
$hep-green-interactions_hover: #008268;